SpriteSheetDataset(
    dataset: [
        SpriteSheetData(
            name: "player_idle"
            filepath: "player_sprites/player_idle.png",
            fps: 60.0,
            // rows in the sheet
            rows: i32,
            // columns in the sheet
            cols: i32,
        ),
    ],
)